@media (min-width: 576px) {
    #image-c2a{
        min-width: 576px !important;
    }
}

@media (max-width: 576px) {

}

@media only screen and (min-width: 768px) {
    #image-c2a{
        min-width: 768px !important;
    }
    #resumo-1-mobile{
        display: none !important;
    }
}

@media only screen and (max-width: 768px) {
    #resumo-1-desktop{
        display: none !important;
    }
}

@media (min-width: 992px) {

    #icone-whatsapp:hover #whatsapp-flutuante {
        display: inline !important;
        padding-top: 0.5rem !important;
    }
    
    #icone-email:hover #email-flutuante {
        display: block !important;
        padding-top: 0.5rem !important;
    }
    
    #icone-telefone:hover #telefone-flutuante {
        display: block !important;
        padding-top: 0.5rem !important;
    }

    #image-c2a{
        min-width: calc(992px / 2) !important;
    }
}

@media (max-width: 992px) {

}

@media (min-width: 1200px) {
    #image-c2a{
        min-width: calc(1200px / 2) !important;
    }
}

@media (max-width: 1200px) {

}

.custom-bg {
    background: #ECE9E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}